<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" initial-scale=1.0">
    <title>One Blood</title>
    <link rel="icon" href="/images/logo.ico" type="image/icon type">

<script src="jquery-3.5.1.min.js"></script>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--FONTSS-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="/css/index.css">
</head>

<body style="background-color: #222730;" >
    <div class="container " >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand white " href="#">OneBlood</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="white" href="/">Home</a></li>
          <li  ><a class="white" href="#about">About</a></li>
          <li  ><a class="white" href="#contact" class="navbar-nav pull-right">Contact</a></li>
        </ul>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="inside-box" >
          <div>
            <h2>
              What are you?
            </h2>
          </div>
          <div class="row" style="text-align: center;" >
            <div class="col-md-6 div-buttton">
              <img class="logos" src="/images/bloodman.png" alt="">
              <button class="h3button" data-toggle="modal" data-target="#exampleModalCenterRequester"><h3>Requester</h3></button>
            </div>
            <div class="col-md-6 div-buttton ">
              <img class="logos" src="/images/injection.png" alt="">
              <button class="h3button" data-toggle="modal" data-target="#exampleModalCenterDonor" ><h3>Donor</h3></button> 
            </div>
          </div>
        </div>
        <!-- Requester Modal -->
<div class="modal fade" id="exampleModalCenterRequester" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Requestor Form</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form action="/requester" method="POST">
            <div class="requesterForm">
              <div class="form-components" >
                <label class="formlabel" >Name</label>
                <input class="forminput" type="text" name="rname" placeholder="Name" autocomplete="off"> 
              </div>
              <div class="form-components" >
                <label class="formlabel">Age</label>
                <input class="forminput" type="number" name="rage" placeholder="age" autocomplete="off"> 
              </div>
              <div class="form-components" >
                <label class="formlabel" >City</label>
                <select class="forminput" name="rcity" id="city">
                  <option value="Pune">Pune</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Jupiter">Jupiter</option>
                </select>
              </div>
              <div class="form-components" >
                <label class="formlabel" >Email</label>
                <input class="forminput" type="text" name="remail" placeholder="Email" autocomplete="off"> 
              </div>
              <div style="text-align: center;" class="form-components" >
                <button style="width: 25%;" class="btn btn-lg btn-danger" type="submit">Submit</button>
              </div>
               </div>
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Donor Modal -->
<div class="modal fade" id="exampleModalCenterDonor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Donor Form</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/donor" method="POST">
          <div class="requesterForm">
            <div class="form-components" >
              <label class="formlabel" >Name</label>
              <input class="forminput" type="text" name="dname" placeholder="Name" autocomplete="off"> 
            </div>
            <div class="form-components" >
              <label class="formlabel">Age</label>
              <input class="forminput" type="number" name="dage" placeholder="age" autocomplete="off"> 
            </div>
            
            <div class="form-components" >
              <label class="formlabel" >Email</label>
              <input class="forminput" type="text" name="demail" placeholder="Email" autocomplete="off"> 
            </div>
            <div style="text-align: center;" class="form-components" >
              <button style="width: 25%;" class="btn btn-lg btn-danger" type="submit">Submit</button>
            </div>
             </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="col-lg-4">
        <img class="logo-image" src="/images/logo.jpg" alt="" srcset="">
      </div>
    </div>
  




 <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.0.0/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.0.0/firebase-analytics.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>

  <!--<div class="navbar">
        <div class="logodiv" >
        <img class="main-logo" src="images/logo.jpg" alt="logo">
        <br>
        <h2 class="title-one" >One</h2>
        <h2 class="title-blood">Blood</h2>
        </div>
    </div>
    <div class="bloodimagediv" >
        <div class="row">
            <div class="taglines">
                 <h2 class="tagline-one" >DONATE BLOOD</h2>
                <h2 class="tagline-two" >Give The Gift of Life</h2> 
            </div>
            <div class=" main-left col-lg-6" >
                
            </div>
            <div class=" main-right col-lg-6" >
                
            </div>
        </div>
    </div> -->
     <!-- <form action="/" method="POST">
            <h3>Name</h3>
             <input type="text" name="firstname" placeholder="Name">
             <br>
            <h3>City</h3>
             <input type="text" name="city" placeholder="City">
             <br>
             <br>

            <button class="btn btn-lg btn-danger" type="submit" >Submit</button>
        </form>
        -->
