/* blue : #222730
   red: #ee2d24;
*/

html{
    overflow-x: hidden;
    
    min-width: 100%;
    min-width: height 100%; 
    margin: 0px;
    padding: 0px;
}.body{
    
   
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
}
    